* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, rgb(3, 0, 20), rgb(6, 0, 45));
}

main {
  max-width: 1440px;
  width: 90%;
  margin: auto;

  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  gap: 20px;
}

img {
  margin: auto;
  border-radius: 12em / 8em;
  height: 65vh;
}

h1 {
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 50px;
  padding: 10px;
  color: rgba(255, 255, 255, 1);
}

p,
span {
  font-weight: 400;
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.95);
}
