* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, rgb(3, 0, 20), rgb(6, 0, 45));
}

main {
  max-width: 1440px;
  width: 90%;
  margin: auto;

  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  gap: 20px;
}

h1 {
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 50px;
  padding: 10px;
  color: rgba(255, 255, 255, 1);
}

img {
  margin: auto;
  border-radius: 10em / 7em;
  height: 65vh;
}

p,
span {
  font-weight: 400;
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.95);
}

@media (max-width: 500px) {
  h1 {
    font-size: 25px;
    padding: 5px;
  }

  img {
    margin: auto;
    border-radius: 4em / 3em;
    width: 90vw;
    height: 40vh;
  }

  p,
  span {
    font-size: 15px;
    line-height: 22px;
  }
}
